@import "components/reset";
@import "components/typography";
@import "components/buttons";
@import "components/modular";
@import "topInterests/topInterests";
@import "topInterests/demographics";



body,html{
    margin: 10px;
    padding: 0;
    font-family: "Arial", sans-serif;
    font-size: 0.95em;
  
}

